<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>article_insert_all</title>
</head>
<body>
    <h3>article_insert_all</h3>
    <hr />
    <form action="article_insert_all" method="post">
        {% csrf_token %}        
            {% for i in cnt %}     
            <tr>
                <td><input type="text" name="title[]" value="" /></td>
                <td><input type="text" name="link[]" value="" /></td>
                <td><input type="text" name="report[]" value="" /></td>
                <td><input type="text" name="content[]" value="" /></td>
            </tr>
        {% endfor %}
    </table>
    <a href="/article_main">목록</a>
    </form>
</body>
</html>